

		<div class="menu menu_bottom">
			<roundcube:button command="mail" label="mail" type="link" innerClass="inner" class="mail" classSel="mail selected" />
<roundcube:button command="addressbook" label="contacts" type="link" innerClass="inner"	class="contacts" classSel="contacts selected" />
<roundcube:container name="taskbar" id="taskmenu" />

		<roundcube:if condition="env:quota" />
			<div id="quotadisplay" class="quota-widget">
				<span class="voice"><roundcube:label name="quota"></span>
				<roundcube:object name="quotaDisplay" class="count" display="text" />
			</div>
		<roundcube:endif />
	</div>



