<div class=" sebmenu hidden-phone hidden-small">
<i class="sebicon usermenu"style='font-size: 2em;'></i>
	<div class="hovermenu z-depth-2" id="taskmenu">
	
		<div class="menuopt" onclick="rcmail.command('switch-task', 'settings', false, false)">
			<i class="sebicon cog" ></i><roundcube:label name="settings" />
		</div>
		<div class="click_change_theme menuopt">
			<i class="sebicon contrast"></i><span class="sebicon_contrast_txt"></span>
		</div>

		<div onclick="elastic2022_logout()" class='menuopt'>
			 <i class="sebicon logout"></i><roundcube:label name="logout" />
		</div>
	</div>
</div>