<roundcube:include file="includes/layout.html" />


<roundcube:include file="includes/top-right_menu.html" />

		
<roundcube:include file="includes/message-popmenu.html" />

<div style="display:none">
	<roundcube:if condition="env:threads" />
		<roundcube:button command="compose" type="link" class="compose"
			label="compose" title="writenewmessage" innerclass="inner"
			data-fab="true" data-fab-task="mail" data-fab-action="none" />
	<roundcube:endif />
		
</div>
		
<h1 class="voice"><roundcube:label name="mail" /></h1>

<!-- folders list -->
<div id="layout-sidebar" class="listbox hidden" role="navigation" aria-labelledby="aria-label-folderlist">

	<span class="header-title username" style="padding: 0 10px;"></span>
		
	<div class="header" style="border:0;">
	

		
		
		<a href="./?_task=mail&_action=compose" class="compose button" onclick="return rcmail.command('compose','',this,event)">
			<div><i class="sebicon composeicon" style='float:left'></i><roundcube:label name="compose" /></div>
		</a>
		

	</div>
	<h2 id="aria-label-folderlist" class="voice"><roundcube:label name="arialabelfolderlist" /></h2>
	<div id="folderlist-content" class="scroller">
		<roundcube:object name="mailboxlist" id="mailboxlist" class="treelist listing folderlist" folder_filter="mail" unreadwrap="%s" />
	</div>
	
	<div style="width:100%;height:0;position: relative;" class='gitissue16'>
	<roundcube:button name="folderactions" type="link" title="folderactions" label="actions"
			class="button icon sidebar-menu" innerclass="inner" data-popup="mailboxoptions-menu" />
	</div>


	<roundcube:include file="includes/footer_menu.html" />

</div>
<roundcube:include file="includes/mail-popmenu.html" />
<!-- messages list -->
<div id="layout-list" class="listbox selected">




	
<table class="tableheaderseb"><tr>

<td class="hidden-large" style="padding-left:.9rem;vertical-align: baseline;width:52px;">
<a class="button icon task-menu-button hidden-large" href="#menu" style="font-size: 20px;"><span class="inner"><roundcube:label name="menu" /></span></a>

</td>
<td>
	<roundcube:add_label name="showunread" />
	<roundcube:object name="searchform" id="mailsearchform" wrapper="searchbar menu"
		label="mailquicksearchbox" buttontitle="findmail" options="searchmenu" ariatag="h2" />
</td>
</tr></table>

<div id="messagelist-header" class="header hide_small" style="height:28px;min-height:28px;padding:0 8px">

	<div class="toolbar menu" role="toolbar">
	
		<div id="cubeselect_div">
			<a href="#select" id="cubeselect" class="cubeselect" style="width:44px;padding-left:12px;padding-right: 20px;" onclick="click_cubeselect(this)"></a>
			<a href="#reply-all" class="dropdown" data-popup="listselect-menu" tabindex="0" style="min-width: 1.2rem;width:1.2rem;margin-left: -16px;">
				<span class="inner"><roundcube:label name="select" /></span>
			</a>
		</div>
		
		<roundcube:container name="listcontrols" id="listcontrols" />

		<div>
			<roundcube:button command="checkmail" type="link" class="button icon toolbar-button refresh" label="refresh" title="checkmail" innerclass="inner" />
			<a href="#none" class="filter active button" data-popup="filter-menu"></a>
			<a href="#none" class="sort active" data-popup="listsort-menu"></a>
		</div>

	</div>


</div>
		
	<div id="searchmenu" class="hidden searchoptions scroller propform formcontainer" aria-labelledby="aria-label-search-menu" aria-controls="messagelist">
		<h3 id="aria-label-search-menu" class="voice"><roundcube:label name="searchmod" /></h3>
		<div class="formcontent">
			<ul class="proplist">
				<li><label><input type="checkbox" name="s_mods[]" value="subject" /><roundcube:label name="subject" /></label></li>
				<li><label><input type="checkbox" name="s_mods[]" value="from" /><roundcube:label name="from" /></label></li>
				<li><label><input type="checkbox" name="s_mods[]" value="to" /><roundcube:label name="to" /></label></li>
				<li><label><input type="checkbox" name="s_mods[]" value="cc" /><roundcube:label name="cc" /></label></li>
				<li><label><input type="checkbox" name="s_mods[]" value="bcc" /><roundcube:label name="bcc" /></label></li>
				<li><label><input type="checkbox" name="s_mods[]" value="body" /><roundcube:label name="body" /></label></li>
				<li><label><input type="checkbox" name="s_mods[]" value="text" /><roundcube:label name="msgtext" /></label></li>
			</ul>
			<div class="input-group">
				<div class="input-group-prepend">
					<label for="searchfilter" class="input-group-text"><roundcube:label name="type" /></label>
				</div>
				<roundcube:object name="searchfilter" id="searchfilter" noevent="true" class="custom-select" />
			</div>
			<div class="input-group">
				<div class="input-group-prepend">
					<label for="s_interval" class="input-group-text"><roundcube:label name="date" /></label>
				</div>
				<roundcube:object name="searchinterval" id="s_interval" class="custom-select" />
			</div>
			<div class="input-group">
				<div class="input-group-prepend">
					<label for="s_scope" class="input-group-text"><roundcube:label name="searchscope" /></label>
				</div>
				<select name="s_scope" id="s_scope" class="custom-select">
					<option value="base"><roundcube:label name="currentfolder" /></option>
					<option value="sub"><roundcube:label name="subfolders" /></option>
					<option value="all"><roundcube:label name="allfolders" /></option>
				</select>
			</div>
		</div>
		<div class="formbuttons">
			<button type="button" class="btn btn-primary icon search" onclick="return rcmail.command('search')"><roundcube:label name="search" /></button>
		</div>
	</div>
	<div id="messagelist-content" class="scroller" tabindex="-1">
		<h2 id="aria-label-messagelist" class="voice"><roundcube:label name="arialabelmessagelist" /></h2>
		<roundcube:object name="messages" id="messagelist" class="listing messagelist sortheader fixedheader"
			aria-labelledby="aria-label-messagelist" data-list="message_list" data-label-msg="listempty"
		/>
	</div>
	<roundcube:include file="includes/pagenav.html" />
</div>

<!-- message preview -->
<div id="layout-content" class="hidden">
	<h2 id="aria-label-toolbar" class="voice"><roundcube:label name="arialabeltoolbar" /></h2>

	<div class="header_back">

	
	<div class="header_topmenu menu">
		<div class="header_back_back" style="width:58px;height:58px;float: left;" onclick="UI.show_list();">
			<a class="button icon back" href="#sidebar" style="font-size: 1.5em"></a>
		</div>
		
		<a onclick="return rcmail.command('plugin.archive','',this,event)" id="header_topmenu_archive" style="display:none"class="sebicon archive"></a>
		
		<roundcube:button command="delete" type="link" class="delete disabled" classAct="delete" label="delete" title="delete" innerclass="inner" data-content-button="true" />
		
		<roundcube:button name="messagemenulinkaaa" id="messagemenulinkaaa" type="link" class="more" label="more" title="moreactions" data-popup="message-menu-inner" innerclass="inner" onclick="check_markasjunk()"/>

	</div>
	
	

	</div>


	
	<h2 id="aria-label-mailpreviewframe" class="voice"><roundcube:label name="arialabelmailpreviewframe" /></h2>
	<div class="iframe-wrapper">
		<roundcube:object name="contentframe"
			id="messagecontframe"
			aria-labelledby="aria-label-mailpreviewframe"
			src="env:blankpage"
			title="arialabelmailpreviewframe"
		/>
	</div>
</div>

<!-- popup menus -->


<div id="message-menu-topmenu" class="popupmenu">
	<h3 id="aria-label-dragmessage-menu" class="voice"><roundcube:label name="arialabeldropactionmenu" /></h3>
	<ul class="menu listing" role="menu" aria-labelledby="aria-label-dragmessage-menu">


		<roundcube:button type="link-menuitem" command="mark" prop="unread" label="markunread" class="unread disabled" classAct="unread" innerclass="inner"/>
		<roundcube:button type="link-menuitem" command="mark" prop="flagged" label="markflagged" class="flag disabled" classAct="flag" innerclass="inner"/>
		
		<roundcube:button type="link-menuitem" command="move" label="moveto" class="move disabled" classAct="move active" innerclass="folder-selector-link" aria-haspopup="true" />
		<roundcube:button type="link-menuitem" command="copy" label="copyto" class="copy disabled" classAct="copy active" innerclass="folder-selector-link" aria-haspopup="true" />
	</ul>
</div>

<div id="dragmessage-menu" class="popupmenu">
	<h3 id="aria-label-dragmessage-menu" class="voice"><roundcube:label name="arialabeldropactionmenu" /></h3>
	<ul class="menu listing" role="menu" aria-labelledby="aria-label-dragmessage-menu">
		<roundcube:button command="move" type="link-menuitem" onclick="return rcmail.drag_menu_action('move')" label="move" class="disabled" classAct="active" />
		<roundcube:button command="copy" type="link-menuitem" onclick="return rcmail.drag_menu_action('copy')" label="copy" class="disabled" classAct="active" />
	</ul>
</div>

<div id="mailboxoptions-menu" class="popupmenu">
	<h3 id="aria-label-mailboxoptions-menu" class="voice"><roundcube:label name="arialabelmailboxmenu" /></h3>
	<ul class="menu listing" role="menu" aria-labelledby="aria-label-mailboxoptions-menu">
		<roundcube:button command="expunge" type="link-menuitem" label="compact" class="expunge disabled" classAct="expunge active" />
		<roundcube:button command="purge" type="link-menuitem" label="empty" class="purge disabled" classAct="purge active" />
		<roundcube:button command="mark-all-read" type="link-menuitem" label="markallread" class="read disabled" classAct="read active" />
		<roundcube:button command="folders" task="settings" type="link-menuitem" label="managefolders" class="folders disabled" classAct="folders active" />
		<roundcube:container name="mailboxoptions" id="mailboxoptionsmenu" />
	</ul>
</div>

<div id="listselect-menu" class="popupmenu">
	<h3 id="aria-label-listselect-menu" class="voice"><roundcube:label name="arialabellistselectmenu" /></h3>
	<ul class="menu listing" role="menu" aria-labelledby="aria-label-listselect-menu">
		<roundcube:button command="select-all" type="link-menuitem" label="all" class="select all disabled" classAct="select all active" />
		<roundcube:button command="select-all" type="link-menuitem" prop="unread" label="unread" class="select unread disabled" classAct="select unread active" />
		<roundcube:button command="select-all" type="link-menuitem" prop="flagged" label="flagged" class="select flagged disabled" classAct="select flagged active" />
		<roundcube:button command="select-all" type="link-menuitem" prop="invert" label="invert" class="select invert disabled" classAct="select invert active" />
	</ul>
</div>

<div id="threadselect-menu" class="popupmenu">
	<h3 id="aria-label-threadselectmenu" class="voice"><roundcube:label name="arialabelthreadselectmenu" /></h3>
	<ul class="menu listing" role="menu" aria-labelledby="aria-label-threadselectmenu">
		<roundcube:button command="expand-unread" type="link-menuitem" label="expand-unread" class="expand unread disabled" classAct="expand unread active" />
		<roundcube:button command="expand-all" type="link-menuitem" label="expand-all" class="expand all disabled" classAct="expand all active" />
		<roundcube:button command="collapse-all" type="link-menuitem" label="collapse-all" class="expand none disabled" classAct="expand none active" />
	</ul>
</div>


<div id="message-menu" class="popupmenu">
	<h3 id="aria-label-message-menu" class="voice"><roundcube:label name="arialabelmoremessageactions" /></h3>
	<ul class="menu listing" role="menu" aria-labelledby="aria-label-message-menu">
		<roundcube:button type="link-menuitem" command="print" label="printmessage" class="print disabled" classAct="print active" data-hidden="small"/>
		<roundcube:if condition="template:name != 'message'" />
			<roundcube:button type="link-menuitem" command="import-messages" label="import" class="import disabled" classAct="import active"
				name="messageimport" onclick="UI.import_dialog()" />
		<roundcube:endif />
		<roundcube:button type="link-menuitem" command="download" label="export" class="download disabled" classAct="download active" />
		<roundcube:button type="link-menuitem" command="edit" prop="new" label="editasnew" class="edit asnew disabled" classAct="edit asnew active" />
		
		<roundcube:button type="link-menuitem" command="headers" label="headers" class="source disabled" classAct="source active" />
		<roundcube:button type="link-menuitem" command="viewsource" label="viewsource" class="source disabled" classAct="source active" />
		<roundcube:button type="link-menuitem" command="move" label="moveto" class="move disabled" classAct="move active" innerclass="folder-selector-link" aria-haspopup="true" />
		<roundcube:button type="link-menuitem" command="copy" label="copyto" class="copy disabled" classAct="copy active" innerclass="folder-selector-link" aria-haspopup="true" />
		<roundcube:button type="link-menuitem" command="open" label="openinextwin" target="_blank" class="extwin disabled" classAct="extwin active" data-hidden="small" />
		<roundcube:container name="messagemenu" id="message-menu" />
	</ul>
</div>


<div id="plugin_contextmenu" class="toolbar menu" role="toolbar" style="display:none">

	<roundcube:button command="reply" type="link" class="reply disabled" classAct="reply" label="reply" title="replytomessage" innerclass="inner" data-content-button="true" />
	<roundcube:button command="reply-all" type="link" class="reply-all disabled" classAct="reply-all" label="replyall" title="replytoallmessage" innerclass="inner" />
	<roundcube:button command="forward" type="link" class="forward disabled" classAct="forward" label="forward" title="forwardmessage" innerclass="inner" />

	<roundcube:button command="delete" type="link" class="delete disabled" classAct="delete" label="delete" title="deletemessage" innerclass="inner" />
	<roundcube:container name="toolbar" id="mailtoolbar" />
	
	<roundcube:button type="link-menuitem" command="mark" prop="unread" label="markunread" classAct="unread active" class="unread disabled" />
	<roundcube:button type="link-menuitem" command="mark" prop="flagged" label="markflagged" classAct="flag active" class="flag disabled" />
		
	<roundcube:button command="print" type="link" class="print disabled" classAct="print" label="print" title="printmessage" innerclass="inner" data-hidden="small"  />

	<roundcube:button type="link-menuitem" command="move" label="moveto" class="move" classAct="move active" aria-haspopup="true"  />




	
</div>


<div id="listsort-menu" class="popupmenu">
	<ul class="menu listing sort_col" role="menu">

	<roundcube:button command="none" type="link-menuitem" label="listsorting" class="ultitle disabled" />
	
	<roundcube:button command="e2022-sortmenu" type="link-menuitem" label="arrival" class="arrival"/>
	<roundcube:button command="e2022-sortmenu" type="link-menuitem" label="sentdate" class="date"/>
	<roundcube:button command="e2022-sortmenu" type="link-menuitem" label="subject" class="subject"/>
	<roundcube:button command="e2022-sortmenu" type="link-menuitem" label="fromto" class="fromto"/>
	<roundcube:button command="e2022-sortmenu" type="link-menuitem" label="from" class="from"/>
	<roundcube:button command="e2022-sortmenu" type="link-menuitem" label="to" class="to"/>
	<roundcube:button command="e2022-sortmenu" type="link-menuitem" label="size" class="size"/>
	</ul>
	<ul class="menu listing sort_order" role="menu">
	<roundcube:button command="none" type="link-menuitem" label="listorder" class="ultitle ultitleseparator disabled" />

	<roundcube:button command="e2022-sortmenu" type="link-menuitem" label="asc" class="ASC" />
	<roundcube:button command="e2022-sortmenu" type="link-menuitem" label="desc" class="DESC" />
	</ul>
<div class="to_keep_this_stupid_menu_activ" style="display:none">
<roundcube:button command="folders" task="settings" type="link-menuitem" class="folders disabled" classAct="folders active" />
</div>
</div>

<div id="filter-menu" class="popupmenu">
	<ul class="menu listing" role="menu">
	<roundcube:button command="e2022-filtermenu" type="link-menuitem" label="all" class="select all active _ALL"/>
	<roundcube:button command="e2022-filtermenu" type="link-menuitem" label="unread" class="unread _UNSEEN"/>
	<roundcube:button command="e2022-filtermenu" type="link-menuitem" label="flagged" class="select flagged _FLAGGED"/>
	<roundcube:button command="e2022-filtermenu" type="link-menuitem" label="withattachment" class="attach _WITHATTACHMENT"/>
	</ul>

<div class="to_keep_this_stupid_menu_activ" style="display:none">
<roundcube:button command="folders" task="settings" type="link-menuitem" class="folders disabled" classAct="folders active" />
</div>
</div>

<roundcube:include file="includes/footer.html" />
